html {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
  font-style: normal;
}
/*Heder and main -background*/
.page-header,
.main {
  background: #ffffff;
}

/*Navigation Logo*/

.navigation-logo-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.navigation-logo-1,
.navigation-list li a {
  list-style: none;
}

.navigation-logo-1::before {
  content: "Web";
  color: #2196f3;
}

/*Navigation List*/

.navigation-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.navigation-list-right li a {
  color: #757575;
  text-decoration: none;
}

/*Hover List*/

.navigation-list:hover {
  color: #2196f3;
}

/* Buttons */

.buttons {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

/*Hover Butons*/

.buttons:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: #2196f3;
}

/*Unstyled List*/

.unstyled-list {
  list-style: none;
}

/* Title and Paragarf -images*/

.title-image {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.parafarf {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Footer*/

.footer-address,
.footer-tel-email {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer-address {
  color: #ffffff;
}

.footer-tel-email {
  color: rgba(255, 255, 255, 0.6);
}

.navigation-logo-2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.navigation-logo-2::after {
  content: "Studio";
  color: #ffffff;
}

/*Flexbox -Organization */

/*Header*/

.main {
  width: 1600px;
}

.page-header {
  align-items: start;
  height: 80px;
  width: 1600px;
}

.page-header,
.navigation-list,
.page-heder-nav,
.navigation-list-right {
  display: flex;
}

.navigation-logo-1 {
  margin-left: 215px;
  margin-right: 53px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list {
  gap: 50px;
  margin: auto;
}

.navigation-list-right {
  gap: 40px;
  margin-left: 345px;
  margin-top: 32px;
  color: #757575;
  text-decoration: none;
}

/*Buttons*/

.main-buttons,
.button-list {
  display: flex;
  margin-top: 36px;
  justify-content: center;
  width: 1600px;
  margin-bottom: 23.5px;
}

.button-list {
  justify-content: center;
  gap: 8px;
}

/*Images*/

.images-main {
  display: flex;
  width: 1600px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.images-border {
  border: 1px solid #eeeeee;
}

.title-image,
.parafarf {
  margin-left: 24px;
}

/*Footer*/

.navigation-logo-2 {
  padding-top: 60px;
  margin-left: 215px;
}

.footer {
  height: 251px;
  width: 1600px;
  margin-top: 94px;
  background-color: #2f303a;
  flex-direction: column;
  display: flex;
}
.adress-main {
  display: flex;
  margin-top: 28px;
  margin-left: 175px;
}

.adress {
  flex-direction: column;
  gap: 12px;
  display: flex;
}

/*INDEX STYLE*/

.main-title,
.button-from-main-title,
.title-criteria,
.paragraf-criteria,
.what-we-do-title,
.our-team-title,
.our-team-name,
.our-team-ocupation {
  font-family: Roboto;
}

.body {
  width: 1600px;
  margin: 0px;
}

/*Sectiunea 1*/

.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: nullpx;
  text-align: center;
  margin: auto;
  margin-block-start: 0em;
  margin-block-end: 0em;
  height: 120px;
  width: 696px;
  margin-top: 200px;
}
.button-from-main-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  border: 0px;
  padding: 10px 10px 10px 10px;
  height: 50px;
  width: 200px;
  margin-top: 30px;
}

.section-one {
  background-color: #2f303a;
  height: 600px;
  width: 1600px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
}
.button-main-title {
  display: flex;
  margin-left: 640px;
}

/* Oue Crieria*/

.main-our-criteria {
  display: flex;
}

.our-criteria {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 94px;
}

.title-criteria {
  height: 16px;
  width: 270px;
  border-radius: nullpx;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}
.paragraf-criteria {
  height: 75px;
  width: 270px;
  border-radius: nullpx;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

/*Sectiunea What we do*/

.what-we-do-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 50px;
}

.what-we-do,
.what-we-do-images {
  display: flex;
}

.what-we-do-div {
  width: 1600px;
}
.what-we-do-images {
  gap: 30px;
  justify-content: center;
  padding-inline-start: 0px;
}

/*Ouer Team*/

.our-team {
  height: 648px;
  width: 1600px;
  border-radius: 0px;
  background-color: #f5f4fa;
  display: flex;
  flex-direction: column;
  margin-top: 94px;
}
.our-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.our-team-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.our-team-ocupation {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-inline-start: 0px;
}

/* Footer-Index*/

.footer-index {
  display: flex;
  height: 251px;
  width: 1600px;
  margin-top: 0px;
  background-color: #2f303a;
  flex-direction: column;
}

.shodow-list {
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
